# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/

# Temporales y respaldos locales
*.tmp
*.temp
*.bak
*.backup
~$*

# Dependencias futuras
node_modules/

# Archivos sensibles locales
.env
.env.*
infectologia/audios/
!infectologia/audios-web/
infectologia/audios/
!infectologia/audios-web/

# Multimedia academica almacenada en Cloudflare R2
/cardiologia/pdf/9-BADBEAR_ECG_MasteryPPT.pdf
/cardiologia/pdf/material-extra/arritmias-cardiacas.pdf
/cirugia-general/media/clase-01/postoperatorio-02.mp4
/cirugia-general/pdf/01-teoria-1-1-pre-trans-postoperatorio.pdf
/cirugia-general/pdf/01-teoria-1-2-liquidos-electrolitos.pdf
/cirugia-general/pdf/02-teoria-2-1-nutricion-cirugia.pdf
/cirugia-general/pdf/02-teoria-2-2-heridas-cicatrizacion.pdf
/cirugia-general/pdf/03-teoria-3-esofago.pdf
/cirugia-general/pdf/06-actividad-sabatina-1-politrauma.pdf
/cirugia-general/pdf/07-seminario-2-estomago-duodeno.pdf
/cirugia-general/pdf/09-teoria-4-higado.pdf
/cirugia-general/pdf/11-teoria-5-vesicula-vias-biliares.pdf
/cirugia-general/pdf/14-teoria-6-pancreas.pdf
/cirugia-general/pdf/15-teoria-7-yeyuno-ileon.pdf
/cirugia-general/pdf/17-teoria-8-recto-ano.pdf
/cirugia-general/pdf/19-teoria-9-trasplante-hepatico.pdf
/cirugia-general/pdf/21-teoria-10-1-bariatrica.pdf
/cirugia-general/pdf/21-teoria-10-2-cancer-tubo-digestivo.pdf
/cirugia-general/pdf/22-teoria-11-tumores-mixtos-hipertension-portal.pdf
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-01/audio.m4a
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-01/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-02/audio.m4a
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-02/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-03/audio.m4a
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-03/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-04/audio.m4a
/cirugia-general/recursos-nuevo-programa/sabatinas/sabatina-04/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-01/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-01/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-02/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-02/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-03/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-03/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-04/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-04/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-06/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-06/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-07/audio.m4a
/cirugia-general/recursos-nuevo-programa/seminarios/seminario-07/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/talleres/taller-01/audio.m4a
/cirugia-general/recursos-nuevo-programa/talleres/taller-01/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/talleres/taller-02/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/talleres/taller-02/video.mp4
/cirugia-general/recursos-nuevo-programa/teorias/teoria-01/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-01/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-02/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-02/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-03/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-03/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-04/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-04/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-05/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-05/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-06/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-06/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-07/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-07/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-08/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-08/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-09/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-09/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-10/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-10/diapositivas.pdf
/cirugia-general/recursos-nuevo-programa/teorias/teoria-11/audio.m4a
/cirugia-general/recursos-nuevo-programa/teorias/teoria-11/diapositivas.pdf
/cirugia-general/rotacion-dr-sotelo/audios/tricobezoares-imagen.mp3
/cirugia-general/rotacion-dr-sotelo/documentos/manual-rotacion-sotelo.pdf
/cirugia-general/rotacion-dr-sotelo/documentos/repaso-intensivo-cirugia-digestiva.pdf
/cirugia-general/rotacion-dr-sotelo/documentos/temas-colon-coledocolitiasis-original.pptx
/cirugia-general/rotacion-dr-sotelo/documentos/temas-exposicion-material.pdf
/dermatologia/audios/01-anatomia-fisiologia-piel.mp3
/dermatologia/audios/02-micosis-superficiales.mp3
/dermatologia/audios/03-acne-rosacea.mp3
/dermatologia/audios/04-enfermedades-inflamatorias-piel.mp3
/dermatologia/audios/05-enfermedades-parasitarias-piel.mp3
/dermatologia/audios/06-enfermedades-bacterianas-piel.mp3
/dermatologia/audios/07-enfermedades-virales-piel.mp3
/dermatologia/audios/08-manifestaciones-dermatologicas-sistemicas.mp3
/dermatologia/audios/09-neoplasias-benignas-piel.mp3
/dermatologia/audios/10-1-neoplasias-malignas-no-melanoma.mp3
/dermatologia/audios/10-2-melanoma-maligno.mp3
/dermatologia/audios/11-enfermedades-ampollares-piel.mp3
/dermatologia/audios/12-trastornos-pigmentarios-piel.mp3
/dermatologia/pdfs/cuaderno-dermatologia.pdf
/dermatologia/pdfs/temas/01-anatomia-fisiologia-piel.pdf
/dermatologia/pdfs/temas/02-micosis-superficiales.pdf
/dermatologia/pdfs/temas/03-acne-rosacea.pdf
/dermatologia/pdfs/temas/04-enfermedades-inflamatorias-piel.pdf
/dermatologia/pdfs/temas/05-enfermedades-parasitarias-piel.pdf
/dermatologia/pdfs/temas/06-enfermedades-bacterianas-piel.pdf
/dermatologia/pdfs/temas/07-enfermedades-virales-piel.pdf
/dermatologia/pdfs/temas/08-manifestaciones-dermatologicas-sistemicas.pdf
/dermatologia/pdfs/temas/09-neoplasias-benignas-piel.pdf
/dermatologia/pdfs/temas/10-1-neoplasias-malignas-no-melanoma.pdf
/dermatologia/pdfs/temas/10-2-melanoma-maligno.pdf
/dermatologia/pdfs/temas/11-enfermedades-ampollares-piel.pdf
/dermatologia/pdfs/temas/12-trastornos-pigmentarios-piel.pdf
/infectologia/pdf/1-4Febrile_Patient_Clinical_Guideppt.pdf
/infectologia/pdf/13-Ofidismo_Clinical_MasterclassPPT.pdf
/infectologia/pdf/15-Mononucleosis_Clinical_EssentialsPPT.pdf
/infectologia/pdf/3-1HIV_AIDS_Master_ClassPPT.pdf
/infectologia/pdf/6-Microbiology_and_Antibiotics_Survival_ManualPPT.pdf
/infectologia/pdf/7.Antiviral_Clinical_GuidePPRT.pdf
/infectologia/pdf/8-Systemic_Antifungal_PharmacologyPPT.pdf
/neurologia/audios/2.El_Parkinson_no_empieza_con_un_temblor.m4a
/neurologia/audios/4.neurotuberculosis.m4a
/neurologia/audios/5.neurocisticercosisA.m4a
/neurologia/audios/7.Meningitis_y_encefalitis_en_urgencias.m4a
/neurologia/pdf/01-polineuropatias.pdf
/neurologia/pdf/02-enfermedad-parkinson.pdf
/neurologia/pdf/03-epilepsia.pdf
/neurologia/pdf/04-miopatias.pdf
/neurologia/pdf/05-enfermedades-infecciosas-snc.pdf
/neurologia/pdf/06-esclerosis-multiple.pdf
/neurologia/pdf/07-encefalitis-autoinmunes.pdf
/neurologia/pdf/08-neurocisticercosis.pdf
/neurologia/pdf/09-neurotuberculosis.pdf
/neurologia/pdf/10-miastenia-gravis.pdf
/neurologia/pdf/11-coma-seminario.pdf
/neurologia/pdf/12-demencias.pdf
/neurologia/pdf/13-cefalea.pdf
/neurologia/pdf/14-ela.pdf
/neurologia/pdf/15-infarto-cerebral.pdf
/neurologia/pdf/16-hemorragia-cerebral.pdf
/neurologia/pdf/17-estado-epileptico.pdf
/neurologia/pdf/19-neuroimagenes-infecciosas-snc.pdf
/neurologia/pdf/21-neuroimagenes-ecv.pdf
/tesis-1/audios/01-proceso-investigacion.m4a
/tesis-1/audios/02-problema-investigacion.m4a
/tesis-1/audios/03-objetivos-justificacion.m4a
/tesis-1/audios/04-enfoque-tipo-diseno-investigacion.m4a
/tesis-1/audios/05-marco-teorico-antecedentes.m4a
/tesis-1/audios/06-hipotesis-variables.m4a
/tesis-1/audios/07-recoleccion-datos.m4a
/tesis-1/pdfs/01-proceso-investigacion.pdf
/tesis-1/pdfs/02-problema-investigacion.pdf
/tesis-1/pdfs/03-objetivos-justificacion.pdf
/tesis-1/pdfs/03-objetivos-justificacion.pdf.pdf
/tesis-1/pdfs/04-enfoque-tipo-diseno-investigacion.pdf
/tesis-1/pdfs/05-marco-teorico-antecedentes-converted.mp3
/tesis-1/pdfs/05-marco-teorico-antecedentes.pdf
/tesis-1/pdfs/06-hipotesis-variables.pdf
/tesis-1/pdfs/07-recoleccion-datos.pdf
/tesis-1/pdfs/09-tipo-nivel-diseno.pdf
/tesis-1/pdfs/10-poblacion-muestra-muestreo.pdf
/tesis-1/pdfs/11-aspectos-eticos-protocolo.pdf
/tesis-1/pdfs/12-responsabilidad-social-investigacion.pdf
/tesis-1/pdfs/13-aspectos-administrativos.pdf
/tesis-1/pdfs/14-15-anexos.pdf
/tesis-1/pdfs/badbear/01-proceso-investigacion-badbear.pdf
/tesis-1/pdfs/badbear/02-problema-investigacion-badbear.pdf
/tesis-1/pdfs/badbear/03-objetivos-justificacion-badbear.pdf
/tesis-1/pdfs/badbear/04-enfoque-tipo-diseno-investigacion-badbear.pdf
/tesis-1/pdfs/badbear/05-marco-teorico-antecedentes-badbear.pdf
/tesis-1/pdfs/badbear/06-hipotesis-variables-badbear.pdf
/tesis-1/pdfs/badbear/07-recoleccion-datos-badbear.pdf
/tesis-1/pdfs/material-extra/01-proceso-investigacion.pdf
/tesis-1/pdfs/material-extra/02-problema-investigacion.pdf
/tesis-1/pdfs/material-extra/03-objetivos-justificacion.pdf
/tesis-1/pdfs/material-extra/04-enfoque-tipo-diseno-investigacion.pdf
/tesis-1/pdfs/material-extra/05-marco-teorico-antecedentes.pdf
/tesis-1/pdfs/material-extra/06-hipotesis-variables.pdf
/tesis-1/pdfs/material-extra/07-recoleccion-datos.pdf
/tesis-1/pdfs/material-extra/09-tipo-nivel-diseno.pdf
/tesis-1/pdfs/material-extra/10-poblacion-muestra-muestreo.pdf
/tesis-1/pdfs/material-extra/11-aspectos-eticos-protocolo.pdf
/tesis-1/pdfs/material-extra/12-responsabilidad-social-investigacion.pdf
/tesis-1/pdfs/material-extra/13-aspectos-administrativos.pdf
/tesis-1/pdfs/material-extra/14-15-anexos.pdf
